<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>crear</title>
        
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <div class ="container">
            <div class="card-header bg-black text-white"></div>
            <div class="card-body">
                
                <div class="container">
                    <form th:object = "${artista}"
                          th:action="@{/save}"
                          method="POST"
                          >
                        <input type="hidden" th:field="*{id}">   
                        <div class="form-group mb-3 row">
                            <label class="col-md-2 col-form-label" for="nombreGira">Nombre Gira</label>
                            <div class="col-sm-10"> 
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{nombreGira}">  
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-md-2 col-form-label" for="nombreArtista">Nombre Artista</label>
                            <div class="col-sm-10"> 
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{nombreArtista}">  
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-md-2 col-form-label" for="costo">Costo</label>
                            <div class="col-sm-10"> 
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{costo}">  
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-md-2 col-form-label" for="fecha">Fecha</label>
                            <div class="col-sm-10"> 
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{fecha}">  
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-md-2 col-form-label" for="capacidadMax">Capacidad Maxima</label>
                            <div class="col-sm-10"> 
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{capacidadMax}">  
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-md-2 col-form-label" for="lugar">Lugar</label>
                            <div class="col-sm-10"> 
                                <select th:field="*{pais}" class="form-control form-control-sm col-md-6" id="lugar" aria-describedby="emailHelp"> 
                                        <option th:each="x:${lugares}"
                                                th:value="${x.id}"
                                                th:text="${x.lugar}"/>
                                </select>   
                            </div>
                            <button type="submit" class="btn btn-primary" value="Guardar">Submit</button>
                    </form>
                        </div>
                </div>  
            </div>
        </div>
    </body>
</html>

